<df-messenger
  intent="WELCOME"
  chat-title="Atencion Al Cliente"
  chat-icon="https://cdn-icons-png.flaticon.com/512/3782/3782817.png"
  agent-id="96b45f64-e59d-467c-aa73-83dce2ee01f9"
  language-code="es"
></df-messenger>

<!-- ******HEADER****** --> 
<header id="header" class="header">                          
      <nav id="main-nav" class="main-nav navbar navbar-expand-md">
          <div class="container-fluid">
          <a class="navbar-brand logo scrollto" href="#promo">
              Soli<span class="highlight">tracking</span>
          </a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse"  aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button><!--//nav-toggle-->
                     
          <div class="navbar-collapse collapse" id="navbar-collapse">
              <ul id="nav-menu" class="nav navbar-nav ms-md-auto">
                  <li class="nav-item sr-only"><a class="nav-link scrollto" href="#promo">Home</a></li>
                  <li class="nav-item"><a class="nav-link scrollto" href="#nosotros">Quienes somos</a></li>
                  <li class="nav-item"><a class="nav-link scrollto" href="#servicios">Servicios</a></li>          
                  <li class="nav-item last"><a class="nav-link scrollto" href="#contactanos">Contactanos</a></li>
              </ul><!--//nav-->
          </div><!--//navabr-collapse-->
          </div>
      </nav><!--//main-nav-->
  </header><!--//header-->
  
  <!-- ******PROMO****** -->
  <section id="promo" class="promo section offset-header">
      <div class="container text-center">
          <h2 class="title">Soli<span class="highlight">tracking</span></h2>
          <p class="intro">Empresa de desarrollo de software <br/> Calidad desde la concepcion hasta la entrega</p>
          <ul class="meta list-inline">
          </ul><!--//meta-->
      </div><!--//container-->
      <div class="social-media">
      </div>
  </section><!--//promo-->

      <!-- ******ABOUT****** --> 
  <section id="nosotros" class="docs section">
    <div class="container">   
      <div class="docs-inner">
        <h2 class="title text-center">Quienes Somos?</h2>            
        <div class="block">
          <h3 class="sub-title text-center">Nuestra misión es cambiar tu punto de vista de la tecnología</h3>
          <p class="text-center"><b>Solitracking</b>, la solución tecnológica para tu empresa.</p>
          <p>Somos una empresa con personal altamente calificado para poder hallar soluciones de la manera mas eficaz y eficiente. Queremos cambiar tu punto de vista de la tecnologia como algo alcanzable, y ademas adaptable a tu negocio.</p>
          <p>Nos destacamos por tener productos con:</p>
          <ul class="list-unstyled">
            <li><strong>Enfoque Personalizado:</strong> Cada negocio e industria requiere un enfoque particular</li>
            <li><strong>Posicionamiento de marca:</strong> Aseguramos un crecimiento sin precedentes</li>
            <li><strong>Aumento de Ganancia:</strong> Generar clientes potenciales estratégicamente</li>
            <li><strong>Resultados Impresionantes:</strong> Hemos visto grandes éxitos con todas las empresas.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- ******ABOUT****** --> 
  <section id="servicios" class="about section">
      <div class="container">
          <h2 class="title text-center">Nuestros Servicios</h2>
          <p class="intro text-center">Dejanos ayudarte a hacer
              crecer tu negocio. Utilizamos técnicas y tecnologia de última generación brindado un crecimiento tecnológico acelerado para tu empresa. Poseemos experiencia en hacer que un proyecto logre excelentes resultados a nivel de Redes Sociales y Posicionamiento web mediante técnicas de SEO Avanzadas.</p>
          <div class="row">
              <div class="item col-lg-6 col-md-6 col-12">
                  <div class="icon-holder">
                      <i class="fa-solid fa-tv"></i>
                  </div>
                  <div class="content">
                  <h3 class="sub-title">Diseño Web</h3>
                      <p>Diseñamos la página WEB que necesitas. Brindamos servicios completamente personalizados. Nuestro personal coordinará contigo para que tengas exactamente lo que buscas. Contarás con la mejor tecnología y nos preocuparemos que hagas una buena inversión. Nuestros profesionales te ayudarán en todo lo que necesites para tu experiencia en la WEB, antes, durante y después que cuentes con tu página. Tenemos personal propio y convenios especiales de trabajo con personas y empresas especialistas en todo lo que precises.</p>
                  </div><!--//content-->
              </div><!--//item-->
              <div class="item col-lg-6 col-md-6 col-12">
                  <div class="icon-holder">
                      <i class="fa-solid fa-crosshairs"></i>
                  </div>
                  <div class="content">
                      <h3 class="sub-title">Software a Medida</h3>
                      <p>Solitracking es una empresa de desarrollo de software y soluciones que se enfoca en brindarte soluciones para tus problemas. Soluciones que de verdad logren ser un alivio y no con calvario mas en la usabilidad del mismo, cuentanos sobre tu problema y le hallaremos una verdadera solucion</p>
                  </div><!--//content-->
              </div><!--//item-->
              <div class="item col-lg-6 col-md-6 col-12">
                  <div class="icon-holder">
                      <i class="fa-solid fa-chart-line"></i>
                  </div>
                  <div class="content">
                      <h3 class="sub-title">Marketing Digital</h3>
                      <p>Diseñamos la estrategia de Marketing y Branding conjuntamente con las compañías para crear experiencias de compra agradables, que inviten a los consumidores a revivirla con frecuencia. Somos parte de la solución y apasionados en resolver los desafíos que se plantean con frecuencia en el mundo de los negocios, innovando en el mundo digital y creando condiciones para mejorar la rentabilidad de las compañías.</p>
                  </div><!--//content-->
              </div><!--//item-->            
              <div class="item col-lg-6 col-md-6 col-12">
                  <div class="icon-holder">
                      <i class="fa-solid fa-mobile-alt"></i>
                  </div>
                  <div class="content">
                      <h3 class="sub-title">Aplicaciones Moviles</h3>
                      <p>Hay más móviles conectados a Internet que personas en el mundo, un dato más que valioso para explotar la potencialidad evolutiva de los Smartphone, ponemos a su alcance todo nuestro talento en la innovación para el desarrollo de apps móviles efectivas con soluciones nativas Android e iOS, hibridas y para otros dispositivos Smart.</p>
                  </div><!--//content-->
              </div><!--//item-->                             
          </div><!--//row-->            
      </div><!--//container-->
  </section><!--//about-->
  
  <!-- ******CONTACT****** --> 
  <section id="contactanos" class="contact section has-pattern">
      <div class="container">
          <div class="contact-inner">
              <h2 class="title  text-center">Contactanos</h2>
              <div class="info text-center">
                  <h4 class="sub-title"></h4>
                  <ul class="social-icons list-inline">
                      <li class="list-inline-item"><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                      <li class="list-inline-item "><a href="https://mail.google.com/mail/?view=cm&fs=1&to=solitracking@outlook.com&su=Interesado En Su Empresa" target="_blank"><i class="fas fa-envelope"></i></a></li>                                                            <li class="list-inline-item"><a href="https://medium.com/" target="_blank"><i class="fab fa-medium-m"></i></a></li>  
                      <li class="list-inline-item"><a href="https://dribbble.com/" target="_blank"><i class="fab fa-dribbble"></i></a></li>   
                  </ul>
              </div><!--//info-->
          </div><!--//contact-inner-->
      </div><!--//container-->
  </section><!--//contact-->  
    
  <!-- ******FOOTER****** --> 
  <footer class="footer">
      <div class="container text-center">
          <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
          <small class="copyright">
              <strong>Direccion:</strong> Calle Las Petas 2240, Santa Cruz - Bolivia
              <br>
              <strong>Telefono: </strong> +591 78503050
              <br>
              <strong>Email:</strong> solitracking@outlook.com
              <br>
              <strong>Horarios:</strong> 8:00 am a 18:00 pm
              <br>
          </small>
      </div><!--//container-->
  </footer><!--//footer-->

<router-outlet></router-outlet>
